
/* FONT */

/* @font-face {
	font-family: 'client';
	src: url('../fonts/Libre-Caslon-Italic.woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */


/* CONFIG */

:root {	
    --color-client: #FBB900;
    --color-client-secondary: #eae8df;
}


/* OVERRIDES */


/* fonts */

h1, h2,
footer em, 
.el-crossheading h2, 
.el-crossheading h3,
.el-teaser article h3,
.el-teaser-device article h3
{
	font-family: "acumin-pro-condensed", 'inter', sans-serif;
	font-weight: 900;
	font-style: italic;
	
	font-size: var(--text-xxxl);
	line-height: 1;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

.el-crossheading h2, 
.el-crossheading h3,
.el-teaser article h3,
.el-teaser-device article h3
{
	/* font-size: var(--text-xxl); */
	font-size: 2.5rem;
}

footer em
{
	font-size: var(--text-xl);
}




/* site */

body {	
	--font-color-2: var(--color-black);
	--font-color-on-bg-4: var(--color-black);
}

header .logo {
	height: 7rem;
	padding: 0;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
}
@media only screen and (min-width: 640px)
{
    header .logo
    {
        height: 14rem;
    }
}

header nav a, 
header nav i {
    color: var(--color-black);
}

nav.main {
	--link-color: var(--font-color);
}
nav.main a {
    color: var(--color-black);
}
nav.main ul.menu > li {
    border-bottom: 1px solid var(--color-black);
}
nav.main ul.menu li.active > a::before {
    background-color: var(--color-black);
}



/* elements */

.st-background.color-2 ul.decorated li::before {
    color: var(--color-black);
}


.el-teaser article h3 {
    color: var(--color-black);
}
.el-teaser.highlight .el-button {
    background-color: var(--color-black);
    color: var(--color-white);
}
@media (hover: hover) and (pointer: fine) {
	.el-teaser.highlight .el-button:hover {
		background-color: var(--color-white);
		color: var(--color-black);
	}
}


.el-crossheading i {
    color: var(--color-black);
}
.el-crossheading span::before, .el-crossheading span::after {
    background-color: var(--color-black);
}


.el-video-youtube button svg .button-player {
    fill: var(--color-client);
}